body{
    
    font-family: 'Montserrat', sans-serif;
    margin: 10%;
}

div.mainLogin{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
    justify-content: center;
}

div.mainIndex{
    display:flex;
    gap: 20px;
    margin-top: 50px;
}
div.card img{
    height: 150px;
}

div.card a{
    width: 120px;
    margin: auto auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#imgLogin img{
    display: block;
    height: 100px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    
}
div.moduloGeneralLevantamiento{
    margin-top: 50px;
    margin-bottom: 50px;

}


#imgLogin{
    display: block;
    margin-bottom: 10px;
    width: auto;
    height: 40px;

}